# --- MODE DE COMPATIBILITÉ IE ---
# Interdire le mode de compatibilité sur IE
# Activer Google Chrome Frame s'il est installé
<IfModule mod_headers.c>
	Header set X-UA-Compatible "IE=Edge,chrome=1"

	<FilesMatch "\.(js|css|gif|png|jpe?g|pdf|xml|oga|ogg|m4a|ogv|mp4|m4v|webm|svg|svgz|eot|ttf|otf|woff|ico|webp|appcache|manifest|htc|vcf)$" >
		Header unset X-UA-Compatible
	</FilesMatch>
</IfModule>



# --- FONTES PERSONNALISÉES --- 
# Autoriser un domaine tiers (ou un sous-domaine) à accéder aux fichier EOT, WOFF, TTF, TTC, OTF et SVG
# => "http://domaine-autorise.fr" à modifier
<IfModule mod_headers.c>
	<FilesMatch "\.(eot|woff|ttf|ttc|otf|svg)$">
		Header set Access-Control-Allow-Origin "http://domaine-autorise.fr"
	</FilesMatch>
</IfModule>



# --- TYPE MIME ---
# Associer un type MIME à certaines extensions

# JavaScript / JSON
# (écrase les types MIME text/javascript erronés)
AddType application/javascript                js jsonp
AddType application/json                      json

# Audio
AddType audio/ogg                             oga ogg
AddType audio/mp4                             m4a f4a f4b

# Vidéo
AddType video/ogg                             ogv
AddType video/mp4                             mp4 m4v f4v f4p
AddType video/webm                            webm
AddType video/x-flv                           flv

# SVG
AddType     image/svg+xml                     svg svgz
AddEncoding gzip                              svgz

# Fontes
AddType application/vnd.ms-fontobject         eot
AddType application/x-font-ttf                ttf ttc
AddType font/opentype                         otf
AddType application/x-font-woff               woff

# Formats divers
AddType image/x-icon                          ico
AddType image/webp                            webp
AddType text/cache-manifest                   appcache manifest
AddType text/x-component                      htc
AddType application/xml                       rss atom xml rdf
AddType application/x-web-app-manifest+json   webapp
AddType text/x-vcard                          vcf



# --- COMPRESSION GZIP ---
<IfModule mod_deflate.c>

	# 1. Identifier les en-têtes modifiés et forcer le support de la compression 
	#    http://developer.yahoo.com/blogs/ydn/posts/2010/12/pushing-beyond-gzipping/
	<IfModule mod_setenvif.c>
		<IfModule mod_headers.c>
			SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
			RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
		</IfModule>
	</IfModule>

	# 2. Compresser tous les fichiers dont le Type MIME correspond à l'un de ceux qui sont listés
	<IfModule mod_filter.c>
		AddOutputFilterByType DEFLATE application/atom+xml \
																	application/javascript \
																	application/json \
																	application/rss+xml \
																	application/vnd.ms-fontobject \
																	application/x-font-ttf \
																	application/xhtml+xml \
																	application/xml \
																	font/opentype \
																	image/svg+xml \
																	image/x-icon \
																	text/css \
																	text/html \
																	text/plain \
																	text/x-component \
																	text/xml
	</IfModule>

</IfModule>



# --- EXPIRATION DES DONNÉES ---
<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresDefault                              "access plus 1 month"

	# Cache manifeste
	ExpiresByType text/cache-manifest           "access plus 0 second"

	# Document HTML
	ExpiresByType text/html                     "access plus 0 second"

	# Données
	ExpiresByType text/xml                      "access plus 0 second"
	ExpiresByType application/xml               "access plus 0 second"
	ExpiresByType application/json              "access plus 0 second"

	# Flux de syndication
	ExpiresByType application/rss+xml           "access plus 1 hour"
	ExpiresByType application/atom+xml          "access plus 1 hour"

	# Favicon (ne pas être renommé)
	ExpiresByType image/x-icon                  "access plus 1 week"

	# Images, audio et vidéo
	ExpiresByType image/gif                     "access plus 1 month"
	ExpiresByType image/png                     "access plus 1 month"
	ExpiresByType image/jpg                     "access plus 1 month"
	ExpiresByType image/jpeg                    "access plus 1 month"
	ExpiresByType video/ogg                     "access plus 1 month"
	ExpiresByType audio/ogg                     "access plus 1 month"
	ExpiresByType video/mp4                     "access plus 1 month"
	ExpiresByType video/webm                    "access plus 1 month"

	# Composants HTC
	ExpiresByType text/x-component              "access plus 1 month"

	# Fontes
	ExpiresByType application/x-font-ttf        "access plus 1 month"
	ExpiresByType font/opentype                 "access plus 1 month"
	ExpiresByType application/x-font-woff       "access plus 1 month"
	ExpiresByType image/svg+xml                 "access plus 1 month"
	ExpiresByType application/vnd.ms-fontobject "access plus 1 month"

	# CSS et JavaScript
	ExpiresByType text/css                      "access plus 1 year"
	ExpiresByType application/javascript        "access plus 1 year"
</IfModule>



# --- ETAG ---
# Si le module mod_headers est disponible, l'en-tête Etag est supprimé
<IfModule mod_headers.c>
	Header unset ETag
</IfModule>

# S'il ne l'est pas, l'instruction FileETag None est appliquée
# (cette instruction n'est pas suffisante pour tous les serveurs)
FileETag None



# --- RÉÉCRITURE D'URL ---
<IfModule mod_rewrite.c>
	Options +FollowSymlinks
	RewriteEngine On
</IfModule>

# Remplacer les URL préfixées par leur équivalent non préfixé
# www.domaine.fr => domaine.fr
<IfModule mod_rewrite.c>
	RewriteCond %{HTTPS} !=on
	RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
	RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]
</IfModule>



# --- PAGE D'ERREUR PERSONNALISÉE ---
# la page 404.html est placée à la racine du serveur
ErrorDocument 404 /404.html



# --- CODAGE UTF-8 ---
# Indiquer qu'utf-8 doit être utilisé comme jeu de caractères par défaut
# (appliqué par défaut aux fichiers de type text/plain et text/html)
AddDefaultCharset utf-8

# Force l'encodage utf-8 sur les fichiers CSS, JavaScript, JSON, RSS, Atom et XML
AddCharset utf-8 .css .js .json .rss .atom .xml



# --- SÉCURITÉ ---
# Interdire l'accès aux dossiers et aux fichiers cachés
<IfModule mod_rewrite.c>
	RewriteCond %{SCRIPT_FILENAME} -d [OR]
	RewriteCond %{SCRIPT_FILENAME} -f
	RewriteRule "(^|/)\." - [F]
</IfModule>

# Interdire l'accès aux fichiers sensibles
<FilesMatch "(\.(bak|config|sql|fla|psd|ini|log|sh|inc|swp|dist)|~)$">
	Order allow,deny
	Deny from all
	Satisfy All
</FilesMatch>

# Empêcher l'exploration des répertoires n'ayant pas d'index
<IfModule mod_autoindex.c>
	Options -Indexes
</IfModule>